<nav id="topNav"
      class="navbar  fixed-top navbar-custom  navbar-expand-lg  navbar-light p-3 mb-5 bg-white rounded">
      <div class="container">
        <a class="navbar-brand font-weight-bolder text-center" href="index.html">
          <img src="https://i.ibb.co/zZ8qX8Y/logo.png" height="30"  class="d-inline-block align-top " alt="Logo">
          <span class="ml-1">RecipeApp by Raghu</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">Link</a>
            </li>
            <li>
              <a role="button" href="#" class="btn btn-primary">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
